body, html {
    height: 100%;
}


.bgimg {
    background-image: url('./../images/GameStart.png');
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 900px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width:1200px;
  display: table
}

.buttons-placement {
    width: 500px;
    margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px
}

.button-Inputs {

}


.blinking{
	animation:blinkingText 1s infinite;
}
@keyframes blinkingText{
	0%{		color: #000;	}
	49%{	color: transparent;	}
	50%{	color: transparent;	}
	99%{	color:transparent;	}
	100%{	color: #000;	}
}

a:hover {
    background-color: yellow;
  }

  a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: red;
  }
  
  /* selected link */
  a:active {
    color: yellow;
  }

  canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}